<h3 class="chapter-ratings"><%= "#{@fraternity.name} - #{@fraternity.letters} Fraternity Ratings at #{@university.initials}" %></h3>
<div style="margin-left: 30px;">
  Fraternity Name: <%= link_to "#{@fraternity.name}", @fraternity %><br>
  School: <%= link_to "#{@university.name} - #{@university.initials}", @chapter.university %><br>
  Chapter Name: <%= "#{@chapter.chapter_name}" %>
</div>
<div class="row">
  <br>
  <div class="col-xs-3 col-xs-offset-1">
    <%= render "shared/progress_bar_labels" %>
  </div>
  <div class="col-xs-6">
    <%= render "shared/chapter_rating_progress" %>
  </div>
</div>
<br>
<div class="rate-chapter-button">
  <%= link_to 'Rate this Fraternity', new_fraternity_chapter_rating_path(@chapter), class: "btn btn-success" %>
  <% if current_user.admin? %>
    <br>
    <%= link_to 'Delete this Chapter', fraternity_chapter_path(@chapter), method: :delete, :data => {:confirm => 'Are you sure?'} %>
    <%= link_to 'Edit this Chapter', edit_fraternity_chapter_path(@chapter) %>
  <% end %>
</div>