
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow=<%= "#{@overall_percentage}" %>
  aria-valuemin="0" aria-valuemax="100" style=<%= "width:#{@overall_percentage}%" %>>
    <%= "#{@overall_percentage}%" %>
  </div>
</div>

<div class="progress">
  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow=<%= "#{@looks_percentage}" %>
  aria-valuemin="0" aria-valuemax="100" style=<%= "width:#{@looks_percentage}%" %>>
    <%= "#{@looks_percentage}%" %>
  </div>
</div>

<div class="progress">
  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow=<%= "#{@popularity_percentage}" %>
  aria-valuemin="0" aria-valuemax="100" style=<%= "width:#{@popularity_percentage}%" %>>
    <%= "#{@popularity_percentage}%" %>
  </div>
</div>

<div class="progress">
  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow=<%= "#{@classiness_percentage}" %>
  aria-valuemin="0" aria-valuemax="100" style=<%= "width:#{@classiness_percentage}%" %>>
    <%= "#{@classiness_percentage}%" %>
  </div>
</div>

<div class="progress">
  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow=<%= "#{@involvement_percentage}" %>
  aria-valuemin="0" aria-valuemax="100" style=<%= "width:#{@involvement_percentage}%" %>>
    <%= "#{@involvement_percentage}%" %>
  </div>
</div>

<div class="progress">
  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow=<%= "#{@social_life_percentage}" %>
  aria-valuemin="0" aria-valuemax="100" style=<%= "width:#{@social_life_percentage}%" %>>
    <%= "#{@social_life_percentage}%" %>
  </div>
</div>

<div class="progress">
  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow=<%= "#{@unity_percentage}" %>
  aria-valuemin="0" aria-valuemax="100" style=<%= "width:#{@unity_percentage}%" %>>
    <%= "#{@unity_percentage}%" %>
  </div>
</div>