
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow=<%= "#{@overall_percentage}" %>
  aria-valuemin="0" aria-valuemax="100" style=<%= "width:#{@chapter.overall_percentage}%" %>>
    <%= "#{@chapter.overall_percentage}%" %>
  </div>
</div>

<div class="progress">
  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow=<%= "#{@looks_percentage}" %>
  aria-valuemin="0" aria-valuemax="100" style=<%= "width:#{@chapter.looks_percentage}%" %>>
    <%= "#{@chapter.looks_percentage}%" %>
  </div>
</div>

<div class="progress">
  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow=<%= "#{@popularity_percentage}" %>
  aria-valuemin="0" aria-valuemax="100" style=<%= "width:#{@chapter.popularity_percentage}%" %>>
    <%= "#{@chapter.popularity_percentage}%" %>
  </div>
</div>

<div class="progress">
  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow=<%= "#{@classiness_percentage}" %>
  aria-valuemin="0" aria-valuemax="100" style=<%= "width:#{@chapter.classiness_percentage}%" %>>
    <%= "#{@chapter.classiness_percentage}%" %>
  </div>
</div>

<div class="progress">
  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow=<%= "#{@involvement_percentage}" %>
  aria-valuemin="0" aria-valuemax="100" style=<%= "width:#{@chapter.involvement_percentage}%" %>>
    <%= "#{@chapter.involvement_percentage}%" %>
  </div>
</div>

<div class="progress">
  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow=<%= "#{@social_life_percentage}" %>
  aria-valuemin="0" aria-valuemax="100" style=<%= "width:#{@chapter.social_life_percentage}%" %>>
    <%= "#{@chapter.social_life_percentage}%" %>
  </div>
</div>

<div class="progress">
  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow=<%= "#{@unity_percentage}" %>
  aria-valuemin="0" aria-valuemax="100" style=<%= "width:#{@chapter.unity_percentage}%" %>>
    <%= "#{@chapter.unity_percentage}%" %>
  </div>
</div>