
<%= form_for([@chapter, @rating]) do |f| %>
  <%= label_tag(:nick_name, "Nickname:") %><br>
  <%= text_field_tag('rating[nick_name]') %><br>
  <%= label_tag(:message, "Message:") %><br>
  <%= text_area_tag('rating[message]') %><br>

  <%= label_tag(:looks, "Looks:") %>
  <div class="star-rating" id="looks" data-score="1"></div>
  <%= label_tag(:popularity, "Popularity:") %>
  <div class="star-rating" id="popularity" data-score="1"></div>
  <%= label_tag(:classiness, "Classiness:") %>
  <div class="star-rating" id="classiness" data-score="1"></div>
  <%= label_tag(:involvement, "Involvement:") %>
  <div class="star-rating" id="involvement" data-score="1"></div>
  <%= label_tag(:socialness, "Socialness:") %>
  <div class="star-rating" id="socialness" data-score="1"></div>
  <%= label_tag(:brotherhood, "Brotherhood:") %>
  <div class="star-rating" id="brotherhood" data-score="1"></div>

  <%= submit_tag("Rate") %>
<% end %>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    score: function() {
      return $(this).attr('data-score');
    },
    scoreName: function(){
      return 'rating['+$(this).attr('id')+']';
    }
  });
</script>