
<%= render "shared/uni_category_buttons" %>

<h3><%= "Subject: #{@topic.subject}" %></h3>

<%= form_tag(university_topic_create_topic_reply_path(@university, @topic)) do %>
  <%= label_tag(:nick_name, "Nickname:") %>
  <%= text_field_tag("topic[nick_name]") %>
  <%= label_tag(:message, "Message:") %>
  <%= text_area_tag("topic[message]") %>
  <%= submit_tag("Reply to Topic") %>
<% end %>
 
<ul class="comment_list">
  <%= render :partial => 'post', :collection => @topic.posts %>
</ul>


