<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="btn-group btn-group-justified">
          <%= render "shared/uni_category_buttons" %>
        </div>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <%= "#{@topic.subject} by #{@topic.nick_name}" %>
  </div>
  <div class="panel-body">
    <%= @topic.message %>
  </div>
</div>

<%= form_tag(topic_create_topic_reply_path(@topic)) do %>
  <%= label_tag(:nick_name, "Nickname:") %>
  <%= text_field_tag("topic[nick_name]") %>
  <%= label_tag(:message, "Message:") %>
  <%= text_area_tag("topic[message]") %>
  <%= submit_tag("Reply to Topic") %>
<% end %>
 
<ul>
  <%= render :partial => 'post', :collection => @topic.posts %>
</ul>


