<%= form_for(@university) do |f| %>
  <% if @university.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@university.errors.count, "error") %> prohibited this university from being saved:</h2>

      <ul>
      <% @university.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label "Name" %>
  <%= f.text_field :name %>
  <%= f.label "Intials" %>
  <%= f.text_field :initials %>

  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>
