<h4 class="text-center"><%= @university.name %></h4>
<%= "Total Fraternities: #{@fraternity_chapter_count}" %><br>
<%= "Total Sororities: #{@sorority_chapter_count}" %><br>
<%= "Total Discussions: #{@discussion_count}"%><br>

<%= link_to 'Edit this University', edit_university_path(@university) %>