<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="btn-group btn-group-justified">
          <%= render "shared/uni_category_buttons" %>
        </div>
      </div>
      <div class="panel-body">
        <h3><%= "#{@university.name} - #{@university.initials} Discussion"%></h3>
      </div>
    </div>
  </div>
</div>

<%= form_tag(university_topic_index_path(@university)) do %>
  <%= label_tag(:nick_name, "Nickname:") %>
  <%= text_field_tag("topic[nick_name]") %>
  <%= label_tag(:subject, "Subject:") %>
  <%= text_field_tag("topic[subject]") %>
  <%= label_tag(:message, "Message:") %>
  <%= text_area_tag("topic[message]") %>
  <%= submit_tag("New") %>
<% end %>

<% @discussions.each do |topic| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= link_to "#{topic.subject}", topic_path(topic) %>
      <%= " by #{topic.nick_name}" %>
    </div>
    <div class="panel-body">
      <%= topic.message %>
    </div>
  </div>
<% end %>
  