<% content_for :sidebar do %>
  <h3>SIDEBAR</h3>
<% end %>

<%= render partial: "shared/uni_category_panel", :locals => { category_panel_body: "uni_panel_body" } %>
<br>

Latest Discussions: <br><br>
<% @discussions.each do |topic| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= link_to "#{topic.subject}", topic_path(topic) %>
      <%= " by #{topic.nick_name}" %>
    </div>
    <div class="panel-body">
      <%= topic.message %>
    </div>
    <div class="panel-footer">
      <%= link_to "Reply", topic_path(topic, anchor: "reply_topic"), class: "btn btn-warning btn-xs" %>
      <%= link_to "#{total_post_count(topic)} Replies", topic_path(topic) %>
    </div>
  </div>
<% end %>


<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="3">Top 5 Fraternity Rankings</th>
    </tr>
  </thead>

  <tbody>
    <% @fraternity_chapters.each do |chapter| %>
      <tr>
        <td><%= link_to "#{chapter.fraternity.name} - #{chapter.fraternity.letters}", 
                        fraternity_chapter_path(chapter) %></td>
    <% end %>
  </tbody>
</table>

<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="3">Top 5 Sorority Rankings</th>
    </tr>
  </thead>

  <tbody>
    <% @sorority_chapters.each do |chapter| %>
      <tr>
        <td><%= link_to "#{chapter.sorority.name} - #{chapter.sorority.letters}", 
                        sorority_chapter_path(chapter) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
