<div class="spacer50"></div>
<div class="text-center">
  <%= link_to "Home", root_path %> |
  <%= link_to "Universities", universities_path %> |
  <%= link_to "Fraternities", fraternities_path %> |
  <%= link_to "Sororities", sororities_path %>
  <br>
  <br>
  <%= link_to "About Us", '#' %> |
  <%= link_to "Contact Us", '#' %> |
  <%= link_to "Legal", '#' %>
</div>
<div class="spacer50"></div>
