<header class="navbar navbar-default navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand">GreekRank</div>
    </div>
    <nav>
      <ul class="nav navbar-nav">
        <li><%= link_to "Home", controller: 'welcome', action: 'index' %> </li>
        <li><%= link_to "Universities", universities_path %></li>
        <li><%= link_to "Fraternities", fraternities_path %> </li>
        <li><%= link_to "Sororities", sororities_path %></li>
        <li><%= link_to "Rankings", '#' %></li>
        <li>
          <%= form_tag "#", class: "navbar-form" do %>
            <%= text_field_tag :keywords, nil, {:placeholder => "Search"} %>
            <%= submit_tag "Search" %>
          <% end %>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Login",   '#' %></li>
        <li><%= link_to "Register", '#' %></li>
      </ul>
    </nav>
  </div>
</header>