<header class="navbar navbar-default navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <div class="navbar-brand"><%= link_to "GreekRank", root_path %></div>
    </div>
    <nav>
      <ul class="nav navbar-nav">
        <li><%= link_to "Universities", universities_path %></li>
        <li><%= link_to "Fraternities", fraternities_path %> </li>
        <li><%= link_to "Sororities", sororities_path %></li>
        <li><%= link_to "Rankings", '#' %></li>
        <li>
          <%= form_tag search_universities_path, method: :get, class: "navbar-form navbar-right", role: "search" do %>
            <p>
              <%= text_field_tag :search, params[:search], class: "form-control" %>
              <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
            <p>
          <% end %>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Login",   new_user_session_path %></li>
        <li><%= link_to "Register", new_user_registration_path %></li>
      </ul>
    </nav>
  </div>
</header>