<!DOCTYPE html>
<html>
<head>
  <title>GreekRank</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/header" %>
  <div id="main" class="container">
    <% flash.each do |name,msg|%>
      <%= content_tag(:div, msg, class: "alert alert-info")%>
    <% end %>
    <div class="row">
      <div class="col-md-9">
          <%= yield %>
      </div>
      <div class="col-md-3">
        <%= content_for?(:sidebar) ? yield(:sidebar) : render("layouts/sidebar") %>
      </div>
    </div>
    <div class="footer">
      <div class="row">
        <div class="col-md-12">
          <%= render "layouts/footer" %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
